.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 220px), 280px));
    justify-content: space-between;
    margin-top: 30px;
    gap: 24px;
}

@media (max-width: 750px) {
    .food-display-list {
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 155px), 1fr));
        gap: 14px;
    }
}
